*{
    margin: 0;
    padding: 0;
}
.child1{
display: flex;
margin-left: 300px;
}
hr{
   opacity:10.5;
}
 .child3 h4,.main5 h4,.main6 h4{
    text-decoration:underline;
 }
 .main5 th,td,.main6 th,td{
    border: 1px solid black;
 }
 .container{
    padding: 10px;
    border: 5px double black;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: beige;
 }
 .child{
    margin-left: 480px;
    margin-bottom: 10px;
 }
.box{
   margin-left: 450px;
 }
 .main1 h4,.main2 h4,.main3 h4{
    text-decoration:underline;
 }
 p{
   font-family: sans-serif;
   font-size: large;
 }
 b{
   width: 200px;
   display: inline-block;
 }

